@import 'app';

.logo {
  color: $black;
  font-family: Onest;
  font-size: 21.198px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.742px;
  text-transform: lowercase;
  margin: auto;
}