@import "../app";

.logo {
  margin: auto 0;
}
.navigation {
  max-width: 488px;
  width: 100%;
  margin: auto 0;
  @media (max-width: 768px) {
    width: fit-content;
    >div {
      >div:nth-child(1) {
        display: none;
      }
    }
  }
}
.headerButton {
  width: 170px;
  height: 40px;
  @media (max-width: 950px) {
    display: none;
  }
}

.borders {
  display: flex;
  flex-direction: row;
  div {
    width: 33.333%;
    border-right: 1px solid $borderColor;
    transition: 0.3s;
  }
  >div:nth-child(3) {
    border-right: unset;
  }
}

.hiddenBorders {
  div {
    border-right: 1px solid $white;
  }
}