@import "app";

.section {
  height: 100vh;
  width: 100%;
  justify-content: center;
}
.btnsRow {
  gap: 10px;
  flex-wrap: wrap;
  max-width: 1000px;
  @media (max-width: 768px) {
    gap: 5px;
  }
}
.button {
  height: 50px;
  width: fit-content;
  @media (max-width: 768px) {
    height: 40px;
  }
}
.infoBoxRow {
  width: 100%;
  max-width: 650px;
  flex-wrap: wrap;
  margin-top: 37px;
  gap: 20px;
}
.infoBox {
  display: flex;
  flex-direction: row;
  span:nth-child(1) {
    color: $greyText;
    font-family: Onest, sans-serif;
    @include fontSize(40, 22);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-block;
    margin-right: 20px;
  }
  span:nth-child(2) {
    color: $grey;
    font-family: Onest, sans-serif;
    @include fontSize(14, 12);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-block;
    max-width: 143px;
    height: fit-content;
    margin: auto 0;
  }
}