@import "app";

.title > span:nth-child(2) {
  text-align: right;
  white-space: nowrap;
}
.services {
  flex-wrap: wrap;
  margin: 50px auto 0 auto;
  >a {
    margin-left: -1px;
  }
  >a:nth-child(1) {
    margin-left: 0px;
  }
}
.titleMob {
  display: none;
}
@media (max-width: 1220px) {
  .titleRow {
    display: block;
    >div {
      display: inline-flex;
    }
  }
}
@media (max-width: 1119px) {
  .titleRow {
    display: flex;
    >div {
      display: flex;
    }
  }
}
@media(max-width: 950px) {
  .services {
    gap: 10px 2%;
    >a {
      margin-left: 0px;
    }
  }
}
@media (max-width: 768px) {
  .titleRow {
    display: block;
    >div {
      display: inline;
      >span{
        display: none;
      }
      .titleMob {
        display: inline;
      }
    }
  }
  .services {
    margin: 30px auto 0 auto;
  }
}