.titleRow {
  >span {
    white-space: nowrap;
    width: fit-content;
  }
  >span:nth-child(3) {
    margin-left: 82px;
    display: block;
  }
  br {
    display: none;
  }
  @media (max-width: 1200px) {
    >span {
      display: block;
    }
  }
  @media(max-width: 1119px) {
    >span {
      display: inline;
    }
    >span:nth-child(3) {
      display: block;
    }
  }
  @media(max-width: 768px) {
    br {
      display: block;
    }
    >span:nth-child(3) {
      margin-left: 0;
      display: inline;
    }
  }
}

.stepsRow {
  gap: 20px;
  margin-top: 50px;
}
.stepsColumn {

}